.body{
	margin: 0;
}

.introtext{
	fill: #000000;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(0,0,0,0.25);
   color: white;
   text-align: center;
}
